/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-sidenav-content{
    background-color: #d85190c9;
}
.example-icon {
    padding: 0 20;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .mat-elevation-z5 {
    position:relative;
    z-index:2;
  }
  .mat-sidenav a:hover{
    color:blue;
  }